/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-main, 'Inter-Variable', sans-serif);
  font-variation-settings: 'wght' var(--font-weight-regular, 400);
  color: var(--main-color, #000000);

}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: var(--header-title-padding);
  margin: 100px auto;
  font-family: var(--font-accent, 'PressStart2P', cursive);
  inline-size: var(--content-width);
  border: 2px solid var(--main-color, #000000);
  background-color: var(--bg-color, #FFFFFF);
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
  justify-self: center;
}

/*=========================================== main section ================================================================*/
.main {
  display: grid;
  justify-content: center;
  gap: 50px;
}

.card {
  inline-size: var(--content-width);
  box-sizing: border-box;
  border: 2px solid var(--main-color, #000000);
  background-color: var(--bg-color, #FFFFFF);
}

.card__title {
  font-size: var(--text-font-size);
  font-variation-settings: 'wght' var(--font-weight-bold, 700);
  padding: 0.28em 0.56em 0.28em;
  line-height: 1.21;
}

.card__image-wrapper {
  border: 2px solid var(--main-color, #000000);
  block-size: var(--content-width);
  position: relative;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__label {
  position: absolute;
  top: 24px;
  right: 23px;
  font-family: var(--font-accent);
  font-size: 0.875rem;
  mix-blend-mode: hard-light;
  
  text-shadow: 
  1px 0px 0 var(--label-stroke-shadow-color),
  -1px -1px 0 var(--label-stroke-shadow-color),
  0px 1px 0 var(--label-stroke-shadow-color),
  0px -1px 0 var(--label-stroke-shadow-color);
}

@supports((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__text-wrapper {
  padding: 25px 25.2px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card-paragraph {
  font-size: var(--text-font-size);
  line-height: 1.1666;
}

.card__controls {
  padding: 1.567em;
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  display: flex;
  padding: 0;
  border: none;
  background: transparent;
}

.card__like-button {
  background: transparent;
  padding: 0.69em 2.2em;
  display: flex;
  border: 2px solid var(--main-color, #000000);
}

.button__text {
  font-family: var(--font-accent);
  font-size: 0.877rem;
  line-height: 0.9;
}

.save-button {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0.9375em 1.3125em 0.9375em 1.1875em;
  gap: 8px;
  border: 2px solid var(--main-color, #000000);
  margin-block-end: 103px;
  background: var(--bg-color);
}

.save-button__icon {
  inline-size: 21px;
  block-size: 21px;
}

.diskette-icon {
  inline-size: 100%;
  block-size: 100%;
}

.memory-dialog {
  border: 2px solid var(--main-color, #000000);
  padding: 0;
}

.memory-dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
}

.dialog-content-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  inline-size: 353px;
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}
  
.dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.close-button {
  padding: 11px 130.5px;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color, #000000);
  background: transparent;
  cursor: pointer;
}

.close-button .button__text {
  text-transform: uppercase;
}